
<div class="container">
    <div class="row"> 
        <div class="col-sm-8 carousel-text">
            <p>"Necesito voluntarios que me ayuden a celebrar mi cumpleaños sin descanso y sin parar!!! Si te crees apto para esta misión por favor acompáñame. </p>
            <br>
            <p> Los momentos más felices y divertidos de la vida, se tornan mas lindos cuando los compartimos con familiares y amigos".</p>
            <br>
            <p>★ Leo ★</p>
        </div>  
        <div class="col">
            <div id="carouselFadeInicio" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/img/1504.jpeg" class="img-fluid" alt="fiesta0">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/1502.jpeg" class="img-fluid" alt="fiesta1">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/1503.jpeg" class="img-fluid" alt="fiesta2">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/1505.jpeg" class="img-fluid" alt="fiesta3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>