<app-separador5></app-separador5>
<div class="roboto container-fluid regalos">
    <!-- <p class="bold">Querida familia y amigos!</p> -->
    <p class="bold">Si deseas hacerme un regalo, mas allá de tu hermosa presencia, estare muy agradecida, <br>pero recuerda que lo mas importante es que vengas con ilusión, alegría y <br>¡Ganas de pasártelo bien!</p>
    <img src="../../assets/img/regalo.png" alt="regalo">
    <p class="bold">ALIAS: xxxxxxxxxxxxxx</p>
    <p class="bold">CBU: xxxxxxxxxxxxxxxxxxx</p>
    <p class="bold">Muchas gracias!</p>
</div>