footer{
    background-color: rgb(220, 157, 0);
    color: rgb(0, 0, 0);
    justify-content: center;
    padding: 1em 0;
    /* position: absolute; */
    /* width: 100%; */
    /* bottom: 0; */
    /* border-radius: 20px; */
    text-align: center;
    margin-top: 2em;
}