<div class="container-fluid roboto">
    <ul class="nav justify-content-center navbarHeader containerBorde">
        <li class="nav-item">
            <a class="nav-link" routerLink="">¡Bienvenidos!</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="../../falta-poco/">Cuenta regresiva</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="../../hora-y-lugar/">Hora y lugar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../../confirmar/">Confirmar asistencia</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="../../regalos/">Regalos</a>
    </li> -->
  </ul>

  <audio src="../../../assets/music/intro2.mp3" autoplay loop></audio>

</div>