<div id="countdown" class="countdown row container-fluid my-5">

    <!-- <h1 class="titulo-cuenta my-5"><b>Mis 18 años</b></h1> -->

    <div class="time my-2 card">
        <h2 class="dias">{{dias}}</h2>
        <small class="dias-letra">Días</small>
    </div>
<div><p></p></div>  <!-- solo para hacer un espacio -->
    <div class="time-2 col-3 my-5 card">
        <h2 class="horas cuenta-size">{{horas}}</h2>
        <small>Horas</small>
    </div>
    <div class="time-2 col-3 my-5 card">
        <h2 class="minutos cuenta-size">{{minutos}}</h2>
        <small>Minutos</small>
    </div>

    <div class="time-2 col-3 my-5 card">
        <h2 class="segundos cuenta-size">{{segundos}}</h2>
        <small>Segundos</small>
    </div>

    <!-- <h1 class="titulo-cuenta my-5"><b>Para mis 18 años</b></h1> -->

</div>