<app-separador3></app-separador3>


<div class="container-fluid justify-content-center row">

        <div class="card mt-5 mx-5" style="width: 18rem;">
                <h4 class="card-title evento"><b>Ceremonia Religiosa</b></h4>
                <img src="../../assets/img/inmacukada.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <!-- <h4 class="card-title"><b>Ceremonia Religiosa</b></h4> -->
                <h4 class="card-title"><b>20:00 horas</b></h4>
                <p class="card-text lugar"><b>Parroquia Inmaculada</b></p>
                <p class="card-text">Av. Alem 738</p>
                <p class="card-text">4103 Tafí Viejo, Tucumán</p>
                <a href="https://goo.gl/maps/xpmzdrkmPYiGr9wv6" target="_blank" class="d-flex justify-content-center btn btn-warning">¿Cómo llegar?</a>
            </div>
        </div>


        <div class="card mt-5 mx-5" style="width: 18rem;">
            <h4 class="card-title evento"><b>Salon de fiesta</b></h4>
            <img src="../../assets/img/danubio.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                
                <h4 class="card-title"><b>22:00 horas</b></h4>
                <p class="card-text lugar"><b>Danubio</b></p>
                <p class="card-text">Ruta 315 km9 - B° San Blas</p>
                <p class="card-text">4103 Tafí Viejo, Tucumán</p>
                <a href="https://goo.gl/maps/94LGnAqaGb2D33zm6" target="_blank" class="d-flex justify-content-center btn btn-warning">¿Cómo llegar?</a>
            </div>
        </div>

</div>
<br>