<app-separador3></app-separador3>


<div class="container-fluid justify-content-center row">

        <div class="card mt-5 mx-5" style="width: 18rem;">
                <h4 class="card-title evento"><b>18 de Junio <br>Ceremonia Religiosa</b></h4>
                <img src="../../assets/img/sanjuanbosco.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <!-- <h4 class="card-title"><b>Ceremonia Religiosa</b></h4> -->
                <h4 class="card-title"><b>20:00 horas</b></h4>
                <p class="card-text lugar"><b>Parroquia San Juan Bosco</b></p>
                <p class="card-text">Av. Mitre 312</p>
                <p class="card-text">4000 San Miguel de Tucumán</p>
                <a href="https://goo.gl/maps/pNa1kupgR4x4q5qi6" target="_blank" class="d-flex justify-content-center btn btn-warning">¿Cómo llegar?</a>
            </div>
        </div>


        <div class="card mt-5 mx-5" style="width: 18rem;">
            <h4 class="card-title evento"><b>23 de Junio <br> Salon de fiesta</b></h4>
            <img src="../../assets/img/danubio.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                
                <h4 class="card-title"><b>22:00 horas</b></h4>
                <p class="card-text lugar"><b>Salón Danubio</b></p>
                <p class="card-text">Ruta 315 km9 - B° San Blas</p>
                <p class="card-text">4103 Tafí Viejo,<br> Tucumán</p>
                <a href="https://goo.gl/maps/94LGnAqaGb2D33zm6" target="_blank" class="d-flex justify-content-center btn btn-warning">¿Cómo llegar?</a>
            </div>
        </div>

    </div>