body {
    background-color: rgb(234, 1, 5);
    color: rgb(0, 0, 0);
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.architecsDaughter{
    font-family: 'Architects Daughter', cursive;
}

.courgette{
    font-family: 'Courgette', cursive;
}

.greatVibes{
    font-family: 'Great Vibes', cursive;
}

.indieFlower{
    font-family: 'Indie Flower', cursive;
}

.separador {
    /* background: rgb(231, 186, 37); */
    /* background: rgb(131, 21, 21); */
    /* background: rgb(117, 25, 48); */
    background-color: rgb(234, 1, 5);
    font-size: 80px;
    font-family: 'Courgette', cursive;
    color: rgb(231, 186, 37);
    text-align: center;
    -webkit-text-stroke: 2px;
    font-weight: bold;
    border: 4px solid rgb(231, 186, 37);
  }