body {
    background-color: #6d1423;
    color: #000000;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.architecsDaughter{
    font-family: 'Architects Daughter', cursive;
}

.courgette{
    font-family: 'Courgette', cursive;
}

.greatVibes{
    font-family: 'Great Vibes', cursive;
}

.indieFlower{
    font-family: 'Indie Flower', cursive;
}

.separador {
    background: #FFDF00;
    font-size: 80px;
    font-family: 'Courgette', cursive;
    color: #881c2e;
    text-align: center;
    font-weight: bold;
  }